<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DefaultOutputExtension" value=".mp4" />
    <add key="HandrakeCLIPath" value="C:\Utilities\HandBrakeCLIBatchEncode\HandBrakeCLI\HandBrakeCLI.exe" />
    <add key="FfmpegPath" value="C:\Utilities\HandBrakeCLIBatchEncode\ffmpeg\ffmpeg.exe" />
    <add key="CompatibleExtensions" value="mp4;avi;mov;mkv;wmv;mpv;mpeg;mpg;m4v;3gp;3g2;ts;mts;m2ts;4xm;mtv;roq;avm2;flv;mj2" />
  </appSettings>
</configuration>